@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #20a582; /* Light Green */
  --color-primary-hover: #107258; /* Light Green */
  --color-secondary: #123f3c; /* Dark Green  */
  --color-accent: #000; /* Black */
}
